/* GLOBAL */
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f4f9;
  color: #333;
}

/* LOGIN / REGISTER CONTAINER */
.container {
  max-width: 1000px;
  margin: 80px auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h1 {
  margin-bottom: 1.5rem;
  font-size: 28px;
  color: #6200ee;
}

.page-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FORM ELEMENTS */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.2s;
}

input:focus {
  border-color: #6200ee;
  outline: none;
  box-shadow: 0 0 0 2px rgba(98, 0, 238, 0.2);
}

/* SMALL LINKS (Register → Login vagy fordítva) */
.small-text {
  margin-top: 10px;
  font-size: 14px;
}

.small-text a {
  color: #6200ee;
  text-decoration: none;
}

.small-text a:hover {
  text-decoration: underline;
}

/* GRID: 3 kártya sorban */
.movies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

/* Film kártya */
.movie-card {
  background-color: #6200ee;
  color: #fff;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  margin: 0;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Kártya tartalom */
.movie-content h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.movie-content p {
  font-size: 0.9rem;
  color: #ece6e6;
}

/* Hozzáadás gomb – kis kör és azonos méret */
.heart-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff4d6d;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  align-self: center;
  margin-top: 7px;
}

.heart-btn:hover {
  background-color: #ff1a40;
}
