/* GLOBAL */
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f4f9;
  color: #333;
}

/* LOGIN / REGISTER CONTAINER */
.container {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h1 {
  margin-bottom: 1.5rem;
  font-size: 28px;
  color: #6200ee;
}

.page-center {
  height: 100vh; /* teljes képernyő */
  display: flex;
  align-items: center; /* függőleges közép */
  justify-content: center; /* vízszintes közép */
}

/* FORM ELEMENTS */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.2s;
}

input:focus {
  border-color: #6200ee;
  outline: none;
  box-shadow: 0 0 0 2px rgba(98, 0, 238, 0.2);
}

/* BUTTON */
button {
  padding: 12px;
  font-size: 16px;
  background: #6200ee;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #4b00b5;
}

/* SMALL LINKS (Register → Login vagy fordítva) */
.small-text {
  margin-top: 10px;
  font-size: 14px;
}

.small-text a {
  color: #6200ee;
  text-decoration: none;
}

.small-text a:hover {
  text-decoration: underline;
}
