.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #6200ee;
  color: #fff;
  display: flex;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.navbar-links a {
  margin-right: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: 0.25s ease, text-shadow 0.25s ease;
}

.navbar-links {
  margin-right: 25rem;
}

.navbar-links a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #000000, 0 0 15px #000000, 0 0 25px #000000,
    0 0 45px #000000;
}

.navbar-links a:last-child {
  margin-right: 0;
}

.navbar-logout {
  background-color: #fff;
  color: #6200ee;
  border: none;
  padding: 0.4rem 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.page {
  padding-top: 90px;
}

.navbar-logout {
  padding: 12px;
  font-size: 16px;
  background: #f0e7fc;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
}

.navbar-logout:hover {
  background: #aa83e0;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
}

.navbar-email {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.9;
}

.navbar-btn {
  background: #ffffff;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  color: #6200ee;
  font-weight: 500;
  transition: 0.2s;
}

.navbar-btn:hover {
  background: #d3b4ff;
}
